
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: green;
    padding: 30px;
}

.form{
padding: 10px;
background-color: white;
height: 15rem;
margin: 10px auto;   
text-align: center;
width: 50%;
height: 30rem;
}

.basic-form{
    display: grid;
}

input{
    margin: 10px 50px;
    padding: 10px 1rem;
    border: none;
    border-radius: 5px;
    background: rgb(202, 197, 197);
    text-indent: 5px;
   
}

 .btn{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background: rgb(3, 173, 3);
    color: white;
    border: none;
    cursor: pointer;
    grid-column: 1 / -1;
    margin: 10px 50px; 
}

@media (max-width:850px){
    .form{
        width: 90%;
        }
        
}

span{
    text-align: justify;
    margin: 0 50px;
    color: red;
}

h3{
    background: blue;
    color: white;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px ;
    padding: 5px;
}